# Empty CSS file for your own CSS


body {
  font-family:  Signika;
  font-size: 18px;
  background-color: #dce5e4 !important;
}

.rcorners2 {
  border-radius: 50px;
  border: 2px solid #16c6ef;
  padding: 20px;
  width: 100%;
}

.rcorners {
  border-radius: 25px;
  background: #16c6ef;
  width: 80%;
  position: relative;
  top: -40px;
  left: 10%;
}
.sobre{
  max-width: 50%;
position: absolute;
left: 0;
right: 0;
bottom: -20%;
top: 500px;
margin: auto;
}

.btn-rounded {
    border-radius: 30px !important;
}
.btn-rounded:hover {
    background-color: #f4cd27 !important;
    border-color:  #f4cd27 !important;
}
.btn-rounded2 {
    background-color:  #f4cd27;
    color: white;
    border-radius: 30px !important;
    border-color:  #f4cd27;
}
.btn-rounded2:hover {
    background-color: transparent !important;
    color: #1d517f;
    border-color: #16c6ef !important;
}
.nav-item {
  display: flex;
  height: 100% !important;
  color: white !important;
  font-size: .9rem;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.navbar .navbar-collapse, ul.navbar-nav{
  height: 100%;
}
.navbar-left{
  navbar-leftbackground-size:contain;
}


.nav-item:hover {
  background-color: #38bee6 !important;
}

.navbar-custom {
    background-color: #838f91 !important;
}/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    background-color: #838f91 !important;
    color: #white;
}

.navbar-abajo
{
  color: black;
}


.li-abajo
{
  color: #f4cd27 !important;
  display: inline-block;
}

.li-abajo span {
    color : black;
}
 
.btn-cheto {
  background-color: transparent;
  border-color: #35bde7s;
}


.bg-azul {  background-color: #050c2a !important;}
.bg-azul1 {  background-color: #081241 !important;}
.bg-gris {  background-color: #ececec !important;}
.bg-gris2 {  background-color: #838f91 !important;}
.bg-gris3 {  background-color: #d3dddb !important;}
.bg-amarillo {  background-color: #f4cd27 !important;}
.bg-celeste {  background-color: #16c6ef !important;}
.bg-celeste-2 {  background-color: #bde2e7 !important;}
.bg-todo {  background-color: #dce5e4 !important;}

.text-celeste{
  color: #16c6ef;
}
.text-celeste2{
  color: #1d517f;
}


.icon-social {
    color: white;
    background: transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.icon-social:hover {
  background: white;
  color: #081241;
}

  .container {
      width: 1250px;
  }

  .btn-globo {
    color: #fff;
    background-color: #081241;
    border-color: #081241;
  }

  /* Etiquetas H */
h1, h2, h3, h4, h5, h6 {
    display: block;
    clear: both;
    width: 100%;
    font-family: 'Signika';font-size: 22px;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: #606060;
    margin-top: 15px;
    font-size: 48px;
}
h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: #081241;
    margin-top: 15px;
}
h3 {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 32px;
  font-weight: 300;
  color: white;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
  color: black;
}
h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #16c6ef;
  text-decoration: underline #f4cd27;
  text-decoration-thickness: 3px;
   display: inline;
}

p {
  /*
  line-height: 1.4em;*/
  color: black;
}
p span{
  background-color: #61bdda ;
}
